html{
    background-color: #eeeeee  ;
    scroll-behavior: smooth;
    font-family:'Poppins';
    cursor: default;
}


#main{
    background-color: #007bff;
    text-align: center;
    color: white;
    margin-top: 0;
    box-shadow: 0 4px 10px black;
    border-radius: 8px;
    
}
#main h1{
    text-shadow: 2px 2px 4px black;
}
#main nav{
    color: white;
    background-color: #007bff;
    margin: 0 ;
    padding-bottom: 20px;
}
#main ul{
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}
#main ul li{
    display: inline;
    margin: 10px;
}
#main ul li a{
    color: white;
    text-decoration: none;
}
#main ul li a:hover{
    color: #f0f0f0;
}

#hero{
    text-align: center;
}
#hero h2{
    background-color: #007bff;
    color: white;
    max-width: 600px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 2px black;
}
#hero p{
    text-align: center;
    background-color: white;
    display: inline-block;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
}


#about {
    text-align: center;
    padding: 20px 0;
}
#about h2{
    background-color: #007bff;
    color: white;
    max-width: 600px;
    margin: 40px auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 2px black;
}
#about p{
    background-color: white;
    margin: 0 ;
    display: inline;
    padding: 10px 20px;
    max-width: 80%;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
}
#about  img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
}


#projects h2 {
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    text-align:center;
    max-width: 600px;
    margin: 40px auto;
    padding: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 2px black;
 }
 #projects ul{
    display: contents;
    margin: 10px;
    color: black;
    text-align: center;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
 }
 #projects li{
    border: 25px;
    border-radius: 8px;
    background-color: white;
    margin-top: 15px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 30px;
    list-style-type: none;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
 }


 #skills h2{
    text-align: center;
    color: white;
    background-color: #007bff;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 2px black;

    }
#skills table{
    padding: 15px 20px;
    border-collapse: collapse;
    border: 3px solid #007bff;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    font-size: 1.1;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
    
}
#skills thead{
    background-color: #007bff;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    font-size: x-large;
}
#skills tbody{
    background-color: white;
}
#skills td{
    border: 3px solid #007bff;
}


#contact{
    text-align: center;
    border: 5px;
    background-color: white ;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 2px 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
}
#contact h2{
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
}
#contact form label{
    width: 100px;
    text-align: right;
    padding-right: 15px;
}
#contact form input,
#contact form textarea{
border-color: #007bff;
outline: none;
box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
}
#contact form textarea{
    border: 2;
    height: 17px;
    max-width: 1000px;

}
#contact button{
    display: block;
    width: 200px;
    margin: 30px auto 10px auto;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
}
#contact button:hover{
    background-color: #0056b3;
}


footer p{
    text-align: center;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
}


#backtotop{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px black;
}
#backtotop:hover{
    background-color: #0056b3;
}